<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/000040bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="static/css/000053all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="static/css/001657simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="static/css/000010stylish-portfolio.min.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="/dashboard">Dashboard</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/add">Add Expenses</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/view">View Expenses</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Expected expenses</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Farming Suggestions</a>
      </li>
    </ul>
  </nav>

<!-- Bootstrap core JavaScript -->
  <script src="static/js/001649jquery.min.js"></script>
  <script src="static/js/000044bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/js/001656jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/000018stylish-portfolio.min.js"></script>
</body>
</html>