{% include '_navbar.html' %}

<!DOCTYPE html>
<head>
          
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
<body>
<div class="container">
    <form action="{{ url_for('success_insert')}}">
              <div class="row">
                    <div class="col-25">
                      <label for="country">Type</label>
                    </div>
                    <div class="col-75">
                      <select id="type" name="type">
                        <option value="Fertilizers">Fertilizers</option>
                        <option value="Tools">Tools</option>
                        <option value="Seed">Seed</option>
                          <option value="Labor">Labor</option>
                      </select>
                    </div>
                  </div>
      <div class="row">
        <div class="col-25">
          <label for="name">Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="name" name="name" placeholder="Commodity name..">
        </div>
      </div>
           
      <div class="row">
        <div class="col-25">
          <label for="Cost">Cost</label>
        </div>
        <div class="col-75">
                <input type="cost" id="cost" name="cost" placeholder=" Cost..">
        </div>
      </div>
      <div class="row" >
          <div class="wrapper">
          <input  type="submit" value="Submit" >
      </div>
    </div>
     
      </div>
    </form>
  </div>
  </body>