{% include '_navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>


<section class="content-section bg-info" id="about">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Predicted expenses</h1>
    </div>
    <div class="overlay"></div>
  </section>
        <div class="cost">
               <h4> <center> Estimated Expenses Are</h4>
            <p>   <h1><center>*Rs. {{ costs }}*</center></h1></div>
            </p>


</body>
